.findSpace__search__top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.findSpace__title{
  display:flex;
  justify-content: center;
  margin-top: 20px !important;
  font-size: 30px !important;
  font-family: 'Roboto', sans-serif;
  color: green;
}

.findSpace__search__map{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.findSpace__search__map__left{
  flex: 0.5;
}

.findSpace__search__map__right{
  flex: 0.5;
}

/* .bar__chart{
  display: flex;
  justify-content: center;
  margin-top: 30px;
} */

.MuiCardActions-root{
  justify-content: center !important;
}

@media(max-width: 950px){
  .findSpace__search__map{
    flex-direction: column;
    justify-content: center;
    margin: 30px;
  }
  .findSpace__search__map__left{
    max-width: 100%;
  }
}

