.app{
  height: 90vh;
  box-sizing: border-box;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    height: 23%;
}

.MuiPaper-root {
  margin-right: 0px !important;
}